<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="General_Journal.Properties.Settings.General_JournalConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=C:\Repo\Waan\FI\ProjectFI_5804996\General_Journal\General_Journal\General_Journal.accdb"            
            providerName="System.Data.OleDb" />        
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>